src/infra/step-functions/definition.asl.json
{
  "Comment": "Contract Review Workflow - Ingestion -> Compliance -> Output",
  "StartAt": "IngestionAgent",
  "States": {
    "IngestionAgent": {
      "Type": "Task",
      "Comment": "Ingests contract from S3 and extracts text via Textract",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${INGESTION_LAMBDA}",
        "Payload": {
          "s3.$": "$.s3",
          "contract_id.$": "$.contract_id"
        }
      },
      "ResultPath": "$.ingestion_result",
      "ResultSelector": {
        "contract_id.$": "$.Payload.contract_id",
        "s3.$": "$.Payload.s3",
        "extracted_text.$": "$.Payload.extracted_text",
        "extracted_lines.$": "$.Payload.extracted_lines",
        "metadata.$": "$.Payload.metadata",
        "status.$": "$.Payload.status"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "ComplianceAgent"
    },

    "ComplianceAgent": {
      "Type": "Task",
      "Comment": "Applies compliance rules (GDPR, SOX, etc.) using Bedrock or local rules",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${COMPLIANCE_LAMBDA}",
        "Payload": {
          "contract_id.$": "$.ingestion_result.contract_id",
          "s3.$": "$.ingestion_result.s3",
          "extracted_text.$": "$.ingestion_result.extracted_text",
          "extracted_lines.$": "$.ingestion_result.extracted_lines",
          "metadata.$": "$.ingestion_result.metadata"
        }
      },
      "ResultPath": "$.compliance_result",
      "ResultSelector": {
        "contract_id.$": "$.Payload.contract_id",
        "s3.$": "$.Payload.s3",
        "findings.$": "$.Payload.findings",
        "summary.$": "$.Payload.summary",
        "bedrock_used.$": "$.Payload.bedrock_used",
        "bedrock_response.$": "$.Payload.bedrock_response",
        "status.$": "$.Payload.status"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "PrepareOutput"
    },

    "PrepareOutput": {
      "Type": "Pass",
      "Comment": "Prepare final output with findings, summary and bedrock details",
      "Parameters": {
        "contract_id.$": "$.compliance_result.contract_id",
        "s3.$": "$.compliance_result.s3",
        "s3_location.$": "States.Format('s3://{}/{}', $.compliance_result.s3.bucket, $.compliance_result.s3.key)",
        "extracted_text.$": "$.ingestion_result.extracted_text",
        "extracted_lines.$": "$.ingestion_result.extracted_lines",
        "metadata.$": "$.ingestion_result.metadata",
        "findings.$": "$.compliance_result.findings",
        "summary.$": "$.compliance_result.summary",
        "bedrock_used.$": "$.compliance_result.bedrock_used",
        "bedrock_response.$": "$.compliance_result.bedrock_response",
        "status.$": "$.compliance_result.status"
      },
      "ResultPath": "$.final_output",
      "Next": "WorkflowComplete"
    },

    "WorkflowComplete": {
      "Type": "Succeed",
      "Comment": "Contract review workflow completed successfully",
      "OutputPath": "$.final_output"
    },

    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "Contract review workflow failed",
      "Cause": "Ingestion or Compliance step failed"
    }
  }
}
